body{
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #13005A;
    text-align: center;
}
h1{    
    font-size: 7rem;
    font-weight: bold;
    margin: 5%;
    text-shadow: 3px 0 #CB1C8D;
}
.drum-text{
    font-size: 4.5rem;
    margin: 30px auto 0px auto;
    font-weight: bold;
    color: #EB455F; 
    text-shadow: 3px 3px #F3CCFF;
}
footer{
    margin-top: 10%;
}
.img-drum{
    width: 150px;
    height: 150px;
    background-color: white;
    display: inline-block;
    border: solid 10px;
    border-color: #144272;
    margin: 10px;
    border-radius: 15px;
    
}
.clicked{
    color: grey;
    box-shadow: 3px 3px #CB1C8D;
    opacity: 0.5;
}
.w{
    background-image: url("tom1.png")
}
.a{
    background-image: url("tom2.png")    
}
.s{
    background-image: url("tom3.png")    
}
.j{
    background-image: url("tom4.png")    
}
.d{
    background-image: url("snare.png")    
}
.k{
    background-image: url("kick.png")    
}
.l{
    background-image: url("crash.png")    
}